global
    log stdout format raw local0

defaults
    log global
    mode tcp
	option tcplog
	
    timeout connect 10s
    timeout client  5m
    timeout server  5m
	timeout check   5s
	
	option tcpka

#################################
# WRITE (PRIMARY)
#################################
frontend postgres_write
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    mode tcp
	balance first
	
    option httpchk
	http-check send meth GET uri /primary ver HTTP/1.1 hdr Host localhost
	http-check expect status 200
	
	default-server inter 5s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg1 postgres-1:5432 check port 8008
    server pg2 postgres-2:5432 check port 8008
    server pg3 postgres-3:5432 check port 8008

#################################
# READ (REPLICA)
#################################
frontend postgres_read
    bind *:5433
    default_backend postgres_replicas

backend postgres_replicas
    mode tcp
	balance roundrobin
	
    option httpchk
	http-check send meth GET uri /replica ver HTTP/1.1 hdr Host localhost
    http-check expect status 200
	
	default-server inter 5s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg1 postgres-1:5432 check port 8008
    server pg2 postgres-2:5432 check port 8008
    server pg3 postgres-3:5432 check port 8008

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin

