services:
  ivy:
    image: axonivy/axonivy-engine:dev
    volumes:
     - ./ivy/ivy.yaml:/ivy/configuration/ivy.yaml

  apache:
    build: apache
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./apache/vhost.conf:/usr/local/apache2/conf/vhost.conf
      - ./certs/server.crt:/usr/local/apache2/conf/server.crt
      - ./certs/server.key:/usr/local/apache2/conf/server.key

  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    environment:
     - KEYCLOAK_ADMIN=admin
     - KEYCLOAK_ADMIN_PASSWORD=admin
     - KC_HTTPS_CERTIFICATE_FILE=/opt/keycloak/conf/certs/server.crt
     - KC_HTTPS_CERTIFICATE_KEY_FILE=/opt/keycloak/conf/certs/server.key
    volumes:
     - ./keycloak:/opt/keycloak/data/import
     - ./certs:/opt/keycloak/conf/certs
    ports:
     - 8443:8443
    command: start-dev --import-realm
