services:
  ivy:
    image: axonivy/axonivy-engine:nightly-12.0
    ports:
     - 8080:8080
    volumes:
     - ./ivy.yaml:/ivy/configuration/ivy.yaml     

  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    command: start-dev --import-realm
    ports:
     - 8090:8080
    environment:
     KC_BOOTSTRAP_ADMIN_USERNAME: admin
     KC_BOOTSTRAP_ADMIN_PASSWORD: admin
     # needed if backend requests against the same host as frontend requests
     KC_HOSTNAME: http://localhost:8090
    volumes:
     - ./ivytestrealm.json:/opt/keycloak/data/import/ivytestrealm.json
