<?xml version="1.0" encoding="UTF-8"?>
<Context antiResourceLocking="false" privileged="true" >
	<!-- trust user name in header and login to current session -->
	<Valve className="ch.ivyteam.ivy.webserver.security.SingleSignOnValve" userNameHeader="SSO-USER-ID"/>
	
	<!-- just for debugging: dump HTTP headers to Ivy log file (remove in production environments, it will mess up your logs) -->
	<Valve className="de.axonivy.HeaderLoggerValve" />
</Context>