services:
  loadbalancer:
    image: bitnami/apache:2.4
    user: root
    ports:
      - 80:80
    environment: 
      - APACHE_HTTP_PORT_NUMBER=80
    volumes:
      - ./vhost.conf:/vhosts/vhost.conf

  ivy:
    image: axonivy/axonivy-engine:nightly-12.0
    volumes:
      - ivy-applications:/ivy/applications
      - ivy-configuration:/ivy/configuration
      - ivy-data:/ivy/data
      - ../demo-enterprise-licence.lic:/ivy/configuration/licence.lic
      - ./ivy.yaml:/ivy/configuration/ivy.yaml
    deploy:
      replicas: 2
    depends_on:
     - db
     - opensearch
    environment:
     - VIRTUAL_HOST=localhost
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234

  opensearch:
    image: opensearchproject/opensearch:2.19.4
    ports:
     - 9200:9200
    environment:
      ES_JAVA_OPTS: '-Xmx512m -Xms512m'
      discovery.type: single-node
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: opensearchPassword2024?
      plugins.security.disabled: true

volumes:
  ivy-applications:
  ivy-configuration:
  ivy-data:
