global
    log stdout format raw local0
    maxconn 2048
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

resolvers docker
    nameserver dns1 127.0.0.11:53  # Docker DNS
    resolve_retries       3
    timeout retry         1s
    hold valid            10s

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /system/health
    server-template ivy 5 ivy:8080 check resolvers docker resolve-prefer ipv4

    # Enable sticky sessions using a cookie
    cookie SERVERID insert indirect nocache
    option http-server-close
    timeout server  30s



